body { 
  padding-top: 20px; 
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
}

.marquee {
  background: black;
  height: 100px;
  position: relative;

}

.marquee div {
  display: block;
/*  width: 230%;*/
  position: absolute;
  animation: marquee 35s linear infinite;
  padding-left: 70px;
  margin: 0px;
}

.marquee div:hover {
  animation-play-state: paused;
}

.article-source {
  color: white;
  font-style: italic;
  font-family: helvetica;
}

.marquee a {
  padding-top: 45px;
  color: white;
  display: inline-block;
  margin-left: 15px;
  font-family: helvetica;
  text-decoration: none;
  padding-right: 15px;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

h1 {
  font-family: helvetica;
  padding-left: 15px;
}