.container {
	margin-top: 50px;
}

/*v-cloak is a attribute that you can add to 
a element you want to hide, while Vue is mounting.
https://medium.com/vuejs-tips/v-cloak-45a05da28dc4*/

[v-cloak] {
	display: none;
}

h1	{
	text-align: center;
	letter-spacing: 1.5px;
}

td img	{
	width: 25px;
}

.jumbotron p {
	font-size: 20px;
	text-align: center;
	letter-spacing: 1.5px;
}

.jumbotron {
	margin-top: 15px;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 15px;
/*	width: 50%;*/
}

.row {
	font-size: 20px;
}

td {
	font-size: 15px;
}