body, html {
	height: 100%;
	width: 100%;
}

.container {
}

#coinApp {

}

.table {

}

/*v-cloak is a attribute that you can add to 
a element you want to hide, while Vue is mounting.
https://medium.com/vuejs-tips/v-cloak-45a05da28dc4*/

[v-cloak] {
	display: none;
}

td {
	font-size: 15px;
	margin: 10px;
}