html,
body {
  height: 100%;
  font-weight: normal;
  font-family: helvetica;
}

body {
/*  display: flex;*/
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(222, 222, 222, 0.9);
  border-radius: 3px;
  padding: 20px;
}

#ft {
	color: white;
	background: pink;
}

#cryptonews {
	color: white;
	background: lightblue;
}

#bloomberg {
	color: white;
	background: purple;
}
